@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/font/poppins/Poppins-Bold.otf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/font/poppins/Poppins-Regular.otf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/font/poppins/Poppins-Light.otf");
}